@model List<RefugioVerde.Models.PagosViewModel>

@{
    ViewData["Title"] = "Listar Pagos de Clientes";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas del Cliente</title>
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<h2>Listar Pagos de Clientes</h2>

<table id="PagosTb" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Fecha de Pago</th>
            <th>Monto</th>
            <th>Método de Pago</th>
            <th>Estado</th>
            <th>Confirmación de Reserva</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pago in Model)
        {
            <tr>
                <td>@pago.FechaPago.ToString("dd/MM/yyyy")</td>
                <td>@pago.Monto</td>
                <td>@pago.MetodoDePagoNombre</td>
                <td>@pago.EstadoPagoNombre</td>
                <td>@pago.ReservaConfirmacion</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <script>
        $(document).ready(function() {
            $('#PagosTb').DataTable();
        });
    </script>
}
