@model IEnumerable<RefugioVerde.Models.Habitacion>
@using System.Security.Claims
@{
    Layout = "_Cliente";
}
<section class="rooms-area section-padding-100-0" style="background-image: url('/wwwroot/Cliente/img/Cascada.jpg'); background-size: cover; background-position: center;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="section-heading text-center">
                    <div class="line-"></div>
                    <h2>Reserva con nosotros</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            @foreach (var habitacion in Model)
            {
                <!-- Single Rooms Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
                        <!-- Thumbnail -->
                        <img src="@habitacion.Imagen" alt="Imagen de @habitacion.NombreHabitacion" class="bg-thumbnail bg-img" style="background-image: src(@habitacion.Imagen)" />
                        <!-- Price -->
                        <p class="price-from">Precio: $@habitacion.Precio</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <p> @habitacion.EstadoHabitacion.Nombre</p>
                            <div class="line"></div>
                            <h4>@habitacion.NombreHabitacion</h4>
                            <p>Descripcion: @habitacion.Tipo</p>
                        </div>
                        <!-- Book Room -->
                        <a href="#" class="book-room-btn btn palatin-btn" onclick="openCreateModal()">Reservar</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Agregar Cliente</h5>
            </div>
            <div class="modal-body">
                <form id="createForm">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required minlength="2" maxlength="20" pattern="^[a-zA-Z\s]+$" title="El nombre debe tener entre 2 y 20 caracteres y no puede contener números.">
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" required minlength="2" maxlength="20" pattern="^[a-zA-Z\s]+$" title="El apellido debe tener entre 2 y 20 caracteres y no puede contener números.">
                    </div>
                    <div class="mb-3">
                        <label for="documentoIdentidad" class="form-label">Documento de Identidad</label>
                        <input type="text" class="form-control" id="documentoIdentidad" name="documentoIdentidad" required minlength="8" maxlength="18">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" required pattern="\d{10}">
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="correo" name="correo" required>
                    </div>
                    <div class="mb-3">
                        <label for="usuarioId" class="form-label"></label>
                        <input type="hidden" id="usuarioId" name="usuarioId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Scripts necesarios -->
@section Scripts {
     <script src="~/admin/assets/js/datatables.min.js"></script>
    <script src="~/admin/vistasmodal/clientes.js"></script>
}
