@model IEnumerable<RefugioVerde.Models.Habitacion>

<div class="book-now-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="book-now-form">
                    <form action="#">
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="select1">Check In</label>
                            <select class="form-control" id="select1">
                                <option>19 June</option>
                                <option>20 June</option>
                                <option>21 June</option>
                                <option>22 June</option>
                                <option>23 June</option>
                                <option>24 June</option>
                                <option>25 June</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="select2">Check Out</label>
                            <select class="form-control" id="select2">
                                <option>20 June</option>
                                <option>21 June</option>
                                <option>22 June</option>
                                <option>23 June</option>
                                <option>24 June</option>
                                <option>25 June</option>
                                <option>26 June</option>
                                <option>27 June</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="select3">Adults</label>
                            <select class="form-control" id="select3">
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="select4">Childrens</label>
                            <select class="form-control" id="select4">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                            </select>
                        </div>

                        <!-- Button -->
                        <button type="submit">Book Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="rooms-area section-padding-100-0">
    <div class="container-fluid">

        <div class="row justify-content-center">
            @foreach (var habitacion in Model)
            {
                <!-- Single Rooms Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
                        <!-- Thumbnail -->
                        <img src="@habitacion.Imagen" alt="Imagen de @habitacion.NombreHabitacion" class="bg-thumbnail bg-img" style="background-image: src(@habitacion.Imagen)" />
                        <!-- Price -->
                        <p class="price-from">Precio: $@habitacion.Precio</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <p> @habitacion.EstadoHabitacion.Nombre</p>
                            <div class="line"></div>
                            <h4>@habitacion.NombreHabitacion</h4>
                            <p>Descripcion: @habitacion.Tipo</p>
                            <p>Capacidad: @habitacion.Capacidad personas</p> <!-- Nuevo campo para Capacidad -->
                        </div>
                        <!-- Book Room -->
                        <a href="#" class="book-room-btn btn palatin-btn" onclick="openCreateModal()">Reservar</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
